@media (max-width:550px) {
  .removeOnMobile {
      font-size: 0px !important;
  }
}

/* Colors for theme */
:root {
  --main-black: #030303;
  --dark-grey: #161617;
  --lighter-grey: #343536;
  --light-grey: #828384;
}

.inf-card {
  background-color: var(--dark-grey);
  color: lightgray;
  border: 1px solid var(--lighter-grey);
  margin: 3em;
  border-radius: 5px;
  padding: 20px;
  /* opacity: 0%; */
  /* transition: opacity 700ms; */
}

body {
  background-color: var(--main-black);
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

.bottom-buttons-font {
  font-family: 'Poppins', sans-serif;
}

.sub-title {
  width: 600px;
  font-size: 36px;
  color: white;
  text-align: center;
}

.main-title {
  font-size: 72px;
}

.like-button {
  animation: like-animation 300ms;
}

@keyframes like-animation {
  0% {transform: scale(1)}
  50% {transform: scale(1.2)}
  100% {transform: scale(1)}
}

img:hover, i:hover, h5:hover, h1:hover {
  cursor: pointer;
}

::selection {
    color: none;
    background: none;
}